version: '3.8'

services:
  gateway:
    build: ./gateway
    ports:
      - "3000:3000"
    depends_on:
      - auth-service
      - game-service
    environment:
      - AUTH_SERVICE_URL=http://auth-service:3001
      - GAME_SERVICE_URL=http://game-service:3002

  auth-service:
    build: ./auth-service
    ports:
      - "3001:3001"
    environment:
      - JWT_SECRET=segredo_da_ufba

  game-service:
    build: ./game-service
    ports:
      - "3002:3002"